{% extends "metarapp/base.html" %}
{% block head_title %}
過去METAR検索
{% endblock %}

{% block content %}
<h1 class="text-center">ログイン</h1>
<form action="" method="POST">
  {% csrf_token %}
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        {{ form.non_field_errors }}
        {% for field in form %}
          {{ field }}
          {{ field.errors }}
          <hr>
        {% endfor %}
        <input class="btn btn-success btn-lg btn-block" type="submit" value="ログイン">
      </div>
    </div>
  </div>
</form>
{% endblock %}